@model List<ListCategoryDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layouts.cshtml";
}

<div class="col-md-12">
    <div class="row">
        <div class="col-md-12 mb-3">
            <div class="row">
                <div class="col-md-2">
                    <label for="exampleInputUsername2" class="col-form-label">Kategori Adı</label>
                </div>
                <div class="col-md-7">
                    <input type="text" class="form-control" id="Name" placeholder="Kategori Adı">
                    <input type="hidden" id="CategoryId" />
                </div>
                <div class="col-md-2 pt-1">
                    <button type="button" onclick="AddCategory()" id="AddBtn" class="btn btn-info btn-fw">Ekle</button>
                    <button type="button" onclick="EditCategory()" style="display:none;" id="EditCategory" class="btn btn-warning btn-fw">Düzenle</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th> Kategori Adı </th>
                                <th> Kullanılan Haberler </th>
                                <th> Düzenle </th>
                                <th> Aktif/Pasif</th>
                            </tr>
                        </thead>
                        <tbody id="TableBody">
                            @foreach (var item in Model.OrderByDescending(x => x.Id))
                            {
                                <tr>
                                    <td> @item.Name </td>
                                    <td> <button type="button" class="btn btn-info btn-fw">Listele</button> </td>
                                    <td> <button type="button" onclick="EditBtn(@item.Id)" class="btn btn-warning  btn-fw">Düzenle</button> </td>
                                    <td>
                                        @if (item.IsActive == true)
                                        {
                                            <button type="button" onclick="ChangeCategory(@item.Id)" id="btn_@item.Id" class="btn btn-success btn-fw">Aktif</button>
                                        }
                                        else
                                        {
                                            <button type="button" onclick="ChangeCategory(@item.Id)" id="btn_@item.Id" class="btn btn-danger btn-fw">Pasif</button>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
<script>
    function AddCategory(){
        var Name=$('#Name').val();
        $.ajax({
            url:'/Category/AddCategory',
            data:{Name:Name},
            success:function(data){
                var Style="";
                var Text=""
                var isActive=data.isActive;
                if(isActive==true){
                    Style="btn btn-success  btn-fw";
                    Text="Aktif"
                }
                else{
                    Style="btn btn-danger  btn-fw";
                    Text="Pasif"
                }
                var html=
                `<tr>
                  <td>${data.name}</td>
                  <td><button type="button" class="btn btn-info btn-fw">Listele</button></td>
                  <td><button type="button" class="btn btn-warning  btn-fw">Düzenle</button></td>
                  <td><button type="button" class="${Style}">${Text}</button></td>
                </tr>`
                $('#TableBody').prepend(html);
                toastr.success('Ekleme İşlemi Başarılı');
            }
        });

    }

    function ChangeCategory(id){
        $.ajax({
            url:'/Category/ChangeCategoryStatus',
            data:{id:id},
            success:function(){
                $.ajax({
                    url:'/Category/GetCategory',
                    data:{id:id},
                    success:function(data){
                        var Style="";
                        var Text=""
                        var isActive=data.isActive;
                         if(isActive==true){
                             Style="btn btn-success  btn-fw";
                             Text="Aktif"
                           }
                        else{
                             Style="btn btn-danger  btn-fw";
                             Text="Pasif"
                        }
                        $('#btn_'+id).attr('class',Style);
                        $('#btn_'+id).text(Text);
                        toastr.success('İşlem Başarılı');

                    }
                })

            }
        })
    }
    function EditBtn(id){
        $('#AddBtn').css('display','none');
        $('#EditCategory').css('display','block');
        $.ajax({
            url:'/Category/GetCategory',
            data:{id:id},
            success:function(data){
                $('#Name').val(data.name);
                $('#CategoryId').val(data.id);
            }
        });
    }
    function EditCategory(){
        var Name= $('#Name').val();
        var id= $('#CategoryId').val();
        $.ajax({
            url:'/Category/UpdateCategory',
            data:{id:id,Name:Name},
            success:function(){
                 $('#EditCategory').css('display','none');
                 $('#AddBtn').css('display','block');
                 $('#Name').val("");
                 toastr.success('İşlem Başarılı');
            }
        })
    }
</script>
}